<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='success.css') }}" />
    <title>Reindirizzamento</title>
  </head>
  <body>
    <h1>{{ message }}</h1>
    <h3>{{ redirect }}<span></span></h3>
  </body>
  <script>
    setTimeout(function () {
      window.location.href = "/it/#contact";
    }, 2000);
  </script>
</html>